@font-face {
	font-family:Panchali;
	src: url('https://imhn.github.io/host/ANEWS/CSS/Fonts/panchali/panchali.eot');
	src: url('https://imhn.github.io/host/ANEWS/CSS/Fonts/panchali/panchali.eot?#iefix') format('embedded-opentype'), url('https://imhn.github.io/host/ANEWS/CSS/Fonts/panchali/panchali.woff') format('woff'), url('https://imhn.github.io/host/ANEWS/CSS/Fonts/panchali/panchali.ttf') format('truetype'), url('https://imhn.github.io/host/ANEWS/CSS/Fonts/panchali/panchali.svg#panchaliregular') format('svg');
	font-weight: 400;
	font-style: normal
}
